@model test8.Models.Project

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
        <h4>Project</h4>
        <hr />
        <table class="table">
            <tr>
                <th>
                    Users Not in Project
                </th>
                <th>
                    Users in Project
                </th>
            </tr>
            <tr>
                <td>
                    <ul>
                        @foreach (var item in ViewBag.Users)
                        {
                            <li>(@Html.ActionLink("Add", "AddUser", new { id = Model.id, user = item.Value })) @item.Value</li>
                        }
                    </ul>
                </td>
                <td>
                    <ul>
                        @foreach (var item in Model.access)
                        {
                            if (item.ID == Model.id)
                            {
                                <li>(@Html.ActionLink("Remove", "Remove", new { id = item.ID, user = item.user, redirect = "Add" })) @item.user</li>
                            }
                        }
                    </ul>
                </td>
            </tr>
        </table>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
